<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698387044105-bq8lhqdpv3atgn9q5iapif6v98optlbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698387044105-bq8lhqdpv3atgn9q5iapif6v98optlbo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698387044105-499t5nh46tu64k5at04t3nomjvmo96o3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY77y5bb82LMAjmxK4ZqqXK_ss-W7Ypjo</string>
	<key>GCM_SENDER_ID</key>
	<string>698387044105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peergram</string>
	<key>PROJECT_ID</key>
	<string>chat-application-885bd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-application-885bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698387044105:ios:e59224b0421c218e6a25d8</string>
	<key>DATABASE_URL</key>
	<string>https://chat-application-885bd-default-rtdb.firebaseio.com</string>
</dict>
</plist>